# Porta onde o servidor Express vai rodar localmente
PORT=3003

# Conexão com o Banco de Dados MariaDB (Usada pelo Prisma)
# Formato: mysql://usuario:senha@host:porta/nome_do_banco
DATABASE_URL="mysql://externo:c8cb7881a7_sql@168.90.147.242:3309/jr_coffee"

# Configuração de Armazenamento para Upload das Fotos (S3, Cloudinary, Local, etc.)
STORAGE_BUCKET_NAME="namorados-fotos"

# Node Environment
NODE_ENV="development"

# Mercado Pago (preencha com suas credenciais)
MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_PUBLIC_KEY=""

GATEWAY_WEBHOOK_SECRET=""

# URL para o backend receber notificações do Mercado Pago
MERCADOPAGO_WEBHOOK_URL="/api/v1/pagamento/webhook"
MERCADOPAGO_BACK_URL_SUCCESS="/payment/success"
MERCADOPAGO_BACK_URL_FAILURE="/payment/failure"
MERCADOPAGO_BACK_URL_PENDING="/payment/pending"

# Frontend URL mapping (use production HTTPS url to satisfy MercadoPago validation)
FRONTEND_URL_NAMORADOS="https://jrcoffee.com.br"