# Porta onde o servidor Express vai rodar localmente
PORT=3003

# Conexão com o Banco de Dados MariaDB (Usada pelo Prisma)
# Formato: mysql://usuario:senha@host:porta/nome_do_banco
DATABASE_URL="mysql://externo:c8cb7881a7_sql@168.90.147.242:3309/jr_coffee"

# Configurações do seu Gateway de Pagamento (Exemplo)
GATEWAY_API_KEY="API_KEY_DO_SEU_GATEWAY_DE_PAGAMENTO"
GATEWAY_WEBHOOK_SECRET="seu_token_de_seguranca_do_webhook"

# Configuração de Armazenamento para Upload das Fotos (S3, Cloudinary, Local, etc.)
STORAGE_BUCKET_NAME="namorados-fotos"

# Node Environment
NODE_ENV="development"